<div class="menu">
  <button color="sucesso" mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['cadastrousuario']" mat-menu-item>Cadastrar usuário</button>
    <button [routerLink]="['listagemusuarios']" mat-menu-item>Listar Usuários</button>
    <button [routerLink]="['cadastroproduto']" mat-menu-item>Cadastrar produto</button>
    <button [routerLink]="['listagemproduto']" mat-menu-item>Listar Produtos</button>
  </mat-menu>
</div>
